.App-header{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #524450;

}
body{
    background-color: #e9f1b5;
}
.App-main{
    margin: 0 300px;
}
.App-footer{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.App-footer a{
    text-decoration: none;
}